{% load i18n %}
{% autoescape off %}
<p>{% blocktrans %}You're receiving this email because you requested a password reset for your WishChain account.{% endblocktrans %}</p>

<p>{% trans "Please go to the following page and choose a new password:" %}</p>

<p><a href="{{ protocol }}://{{ domain }}{% url 'core:password_reset_confirm' uidb64=uid token=token %}">
    {{ protocol }}://{{ domain }}{% url 'core:password_reset_confirm' uidb64=uid token=token %}
</a></p>

<p>{% trans "Your username, in case you've forgotten:" %} <strong>{{ user.get_username }}</strong></p>

<p>{% trans "Thanks for using our site!" %}</p>

<p>{% blocktrans %}The WishChain team{% endblocktrans %}</p>

<hr>
<p style="color: #888; font-size: 0.8em;">
    {% trans "If you didn't request this email, please ignore it. Your password won't change until you access the link above and create a new one." %}
</p>
{% endautoescape %}
